*{
background: #a3eec4;
}
.links{
    margin: 50px;
    width: 100px;
    color: brown;
    text-decoration: none;
    font-size: 20px;
}
div, img{
    width: 100%;
    margin: 5px auto;
}
div > h1{
    text-align: center;
    color: brown;
}
div > p{
    width: 60%;
    margin-left: 20%;
}
.paint{
    width: 400px;
    display: inline-block;
    margin: 50px;
}
.img{
    width: 100%;
}
